<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [120, 265]
  Dashing.numColumns = 18
  Dashing.numRows = 3
});
</script>

<% content_for :title do %>Cells Overview<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="openstack" data-view="Image" data-title="logo" data-image="/logo.png"></div>
    </li>

    <% settings.cells.each do |cell| %>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	  <div data-id="<%=cell %>" data-view="Meter" data-title="<%=cell %>"></div>
      </li>
    <% end %>

  </ul>
</div>
