<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [100, 145]
  Dashing.numColumns = 18
  Dashing.numRows = 3
});
</script>

<% content_for :title do %>Cloud Overview<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="openstack" data-view="Image" data-title="logo" data-image="/logo.png" data-width="250px"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="3" data-sizey="2">
      <div data-id="project_num" data-view="Number" data-title="Projects"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="3" data-sizey="2">
      <div data-id="user_num" data-view="Number" data-title="Users"></div>
    </li>

    <li data-row="1" data-col="10" data-sizex="3" data-sizey="2">
      <div data-id="vm_total" data-view="Number" data-title="Instances"></div>
    </li>

    <li data-row="1" data-col="13" data-sizex="6" data-sizey="2">
	    <!--<div data-id="status" data-view="Health" data-title="Status"></div>-->
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="cells" data-view="Number" data-title="Cells"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="3" data-sizey="2">
      <div data-id="volumes_count" data-view="Number" data-title="Volumes"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="3" data-sizey="2">
      <div data-id="volumes_size" data-view="Number" data-title="Persistent Data"></div>
    </li>

    <li data-row="2" data-col="10" data-sizex="3" data-sizey="2">
      <div data-id="ports_num" data-view="Number" data-title="Ports"></div>
    </li>

    <li data-row="2" data-col="13" data-sizex="3" data-sizey="2">
      <div data-id="cluster_num" data-view="Number" data-title="Container Clusters"></div>
    </li>

    <li data-row="2" data-col="16" data-sizex="3" data-sizey="2">
      <div data-id="shares" data-view="Number" data-title="Shares"></div>
    </li>

  </ul>
</div>
