<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [100, 145]
  Dashing.numColumns = 18
  Dashing.numRows = 3
});
</script>

<% content_for :title do %>Service Overview<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="openstack" data-view="Image" data-title="logo" data-image="/logo.png" data-width="250px"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="keystone" data-view="Graph" data-title="Keystone" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="nova" data-view="Graph" data-title="Nova" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="neutron" data-view="Graph" data-title="Neutron" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="horizon" data-view="Graph" data-title="Horizon" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="glance" data-view="Graph" data-title="Glance" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="cinder" data-view="Graph" data-title="Cinder" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="heat" data-view="Graph" data-title="Heat" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="magnum" data-view="Graph" data-title="Magnum" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="manila" data-view="Graph" data-title="Manila" data-moreinfo="Requests / sec"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="barbican" data-view="Graph" data-title="Barbican"></div>
    </li>

  </ul>
</div>
